body {
    background: #000;
    margin:50px;
}

.battery {
    position: relative;
    display: block;
    margin: 35px 0 0 5px;
    background: #ffffff;
    width: 50px;
    height: 16px;
    float: left;
}

.battery:before {
    content: "";
    display: block;
    background: transparent;
    border: 6px solid #ffffff;
    margin: -12px;
    width: 85px;
    height: 40px;
    position: absolute;
    border-radius: 2px;
}

.battery:after {
    content: "";
    display: block;
    background: transparent;
    border: 6px solid #ffffff;
    margin: 0px 80px;
    width: 6px;
    height: 16px;
    position: absolute;
    border-radius: 2px;
}

.battery.empty {width: 0;}
.battery.ten {width: 6.1px;}
.battery.twenty {width: 12.2px;}
.battery.thirty {width: 18.3px;}
.battery.forty {width: 24.4px;}
.battery.half {width: 30.5px;}
.battery.sixty {width: 36.6px;}
.battery.seventy {width: 42.7px;}
.battery.eighty {width: 48.8px;}
.battery.ninety {width: 54.9px;}
.battery.full {width: 61px;}
